@model DotNetShopping.Models.CheckoutModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DotNetShopping.Models.CartListModel> cart = ViewBag.Cart;
    var discount = (decimal)ViewBag.Discount;

}

<h2>Checkout</h2>
<div class="error">@Request.QueryString["Error"]</div>
<div class="row">
    <div class="col-sm-9">
        @using (Html.BeginForm("CheckoutPay", "Checkout", FormMethod.Post, new { id = "myform" }))
        {
            <ol class="opc" id="checkoutSteps">
                <li id="opc-billing" class="section">
                    <div class="step-title" onclick="billingTitleClick();">
                        <span class="number">1</span>
                        <span class="title">Billing Information</span>
                    </div>
                    <div id="checkout-step-billing" class="checkoutContent">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.BillingFirstName, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.BillingFirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BillingFirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.BillingLastName, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.BillingLastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BillingLastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.BillingCompany, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.BillingCompany, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BillingCompany, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.BillingEmail, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.BillingEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BillingEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-label">@Html.LabelFor(model => model.BillingStreet1, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.BillingStreet1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BillingStreet1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.BillingStreet2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BillingStreet2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.BillingCountryId, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.DropDownList("BillingCountryId", null, "Please Select", htmlAttributes: new { @class = "form-control", required = "Please Select" })
                                    @Html.ValidationMessageFor(model => model.BillingCountryId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.BillingStateId, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.DropDownList("BillingStateId", null, "Please Select", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BillingStateId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.BillingCityId, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.DropDownList("BillingCityId", null, "Please Select", htmlAttributes: new { @class = "form-control", required = "Please Select" })
                                    @Html.ValidationMessageFor(model => model.BillingCityId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.BillingZip, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.BillingZip, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BillingZip, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.BillingTelephone, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.BillingTelephone, new { htmlAttributes = new { @class = "form-control", maxlength = 10 } })
                                    @Html.ValidationMessageFor(model => model.BillingTelephone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="billing-radio">
                                    <div>
                                        <div class="billing-radio-item">
                                            <input type="radio" title="Use same address for shipping" value="0" name="billingradio" checked />
                                            <span>Use same address for shipping</span>
                                        </div>
                                        <div class="billing-radio-item">
                                            <input type="radio" title="Use different address for shipping" value="1" name="billingradio" />
                                            <span>Use different address for shipping</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkout-next"><button type="button" title="Next" class="button btn-checkout" onclick="billingNextClick();"><span><span>NEXT</span></span></button></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="opc-shipping" class="section">
                    <div class="step-title" onclick="shippingTitleClick();">
                        <span class="number">2</span>
                        <span class="title">Shipping Information</span>
                    </div>
                    <div id="checkout-step-shipping" class="checkoutContent">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingFirstName, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.ShippingFirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ShippingFirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingLastName, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.ShippingLastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ShippingLastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingCompany, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.ShippingCompany, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ShippingCompany, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingStreet1, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.ShippingStreet1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ShippingStreet1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.ShippingStreet2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ShippingStreet2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingCountryId, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.DropDownList("ShippingCountryId", null, "Please Select", htmlAttributes: new { @class = "form-control", required = "Please Select" })
                                    @Html.ValidationMessageFor(model => model.ShippingCountryId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingStateId, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.DropDownList("ShippingStateId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ShippingStateId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingCityId, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.DropDownList("ShippingCityId", null, "Please Select", htmlAttributes: new { @class = "form-control", required = "Please Select" })
                                    @Html.ValidationMessageFor(model => model.ShippingCityId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingZip, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.ShippingZip, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ShippingZip, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingTelephone, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.EditorFor(model => model.ShippingTelephone, new { htmlAttributes = new { @class = "form-control", maxlength = 10 } })
                                    @Html.ValidationMessageFor(model => model.ShippingTelephone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="checkout-next"><button type="button" title="Next" class="button btn-checkout" onclick="shippingNextClick();"><span><span>NEXT</span></span></button></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="opc-shipping_method" class="section">
                    <div class="step-title" onclick="shippingMethodTitleClick();">
                        <span class="number">3</span>
                        <span class="title">Shipping Method</span>
                    </div>
                    <div id="checkout-step-shipping_method" class="checkoutContent">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.ShippingMethodId, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.DropDownListFor(model => model.ShippingMethodId, null, "Please Select", htmlAttributes: new { @class = "form-control", required = "Please Select" })
                                    @Html.ValidationMessageFor(model => model.ShippingMethodId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                @{
                                    var weight = cart.Sum(x => x.Quantity) * 0.25;
                                }
                                <input type="hidden" id="weight" value="@weight" />
                                <div class="ShippingCost">
                                    <span>Shipping Cost: </span><span id="ShippingCost"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="checkout-next"><button type="button" title="Next" class="button btn-checkout" onclick="shippingMethodNextClick();"><span><span>NEXT</span></span></button></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="opc-payment" class="section">
                    <div class="step-title" onclick="paymentTitleClick();">
                        <span class="number">4</span>
                        <span class="title">Payment Information</span>
                    </div>
                    <div id="checkout-step-payment" class="checkoutContent">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-label">@Html.LabelFor(model => model.PaymentMethodId, htmlAttributes: new { @class = "control-label" })</div>
                                <div class="input-editor">
                                    @Html.DropDownListFor(model => model.PaymentMethodId, null, "Please Select", htmlAttributes: new { @class = "form-control", required = "Please Select" })
                                    @Html.ValidationMessageFor(model => model.PaymentMethodId, "", new { @class = "text-danger" })
                                </div>
                                <div class="payment-creditcard">
                                    <div class="input-label">
                                        <label class="control-label">Card Number</label>
                                    </div>
                                    <div class="input-editor">
                                        <input type="text" id="cardNumber" name="cardNumber" class="form-control" required>
                                        <span class="field-validation-error text-danger"
                                              data-valmsg-for="cardNumber"
                                              data-valmsg-replace="true">Card Number is required.</span>
                                    </div>
                                    <div class="input-label"><label class="control-label">Name on Card</label></div>
                                    <div class="input-editor">
                                        <input type="text" id="cardHolder" name="cardHolder" class="form-control" required>
                                        <span class="field-validation-error text-danger"
                                              data-valmsg-for="cardHolder"
                                              data-valmsg-replace="true">Name on Card is required.</span>
                                    </div>
                                    <div class="card-row">
                                        <div class="card-date">
                                            <div class="input-label"><label class="control-label">Exp-Month</label></div>
                                            <div class="input-editor">
                                                <select id="cardExpirationMonth" name="cardExpirationMonth" class="form-control">
                                                    @for (int i = 1; i <= 12; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="card-date">
                                            <div class="input-label"><label class="control-label">Exp-Year</label></div>
                                            <div class="input-editor">
                                                <select id="cardExpirationYear" name="cardExpirationYear" class="form-control">
                                                    @for (int i = DateTime.Today.Year; i <= DateTime.Today.Year + 12; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-label"><label class="control-label">CVV</label></div>
                                    <div class="input-editor">
                                        <input type="text" id="cardCvv" name="cardCvv" class="form-control" required>
                                        <span class="field-validation-error text-danger"
                                              data-valmsg-for="cardCvv"
                                              data-valmsg-replace="true">CVV number is required.</span>
                                    </div>

                                </div>
                                <div class="payment-paypal">
                                    <div class="input-label">
                                        <label class="control-label">PayPal Account</label>
                                    </div>
                                    <div class="input-editor">
                                        <input type="text" id="paypal" name="paypal" class="form-control" required>
                                        <span class="field-validation-error text-danger"
                                              data-valmsg-for="paypal"
                                              data-valmsg-replace="true">Paypal Account is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="PaymentPadding"></div>
                                <div class="PaymentDiscount">
                                    @{
                                        var totalPrice = cart.Sum(x => x.TotalPrice);
                                    }
                                    <input type="hidden" id="totalPrice" value="@totalPrice" />
                                    <span>Payment Discount: </span><span id="PaymentDiscount"></span>
                                </div>
                                <div id="PaymentInfo"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="checkout-next"><button type="button" title="Next" class="button btn-checkout" onclick="paymentNextClick();"><span><span>NEXT</span></span></button></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="opc-review" class="section">
                    <div class="step-title" onclick="reviewClick();">
                        <span class="number">5</span>
                        <span class="title">Order Review</span>
                    </div>
                    <div id="checkout-step-review" class="checkoutContent">
                        <table class="cartTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < cart.Count; i++)
                                {
                                    var productName = DotNetShopping.Helpers.StringHelper.ClearFileName(cart[i].VariantName + " " + cart[i].ProductName);
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Product", "ProductDetail", new { id = cart[i].VariantId, name = productName })">
                                                <img src="~/ProductImage/@(cart[i].PhotoName)-1.jpg" />
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Product", "ProductDetail", new { id = cart[i].VariantId, name = productName })">
                                                <span style="width:100%; float:left; padding-bottom:20px;">@cart[i].VariantName @cart[i].ProductName</span>
                                            </a>
                                            @if (cart[i].Campaign != null)
                                            {
                                                <div class="productdetail-label"><span class="sale-product-icon">@cart[i].Campaign.Name</span></div>
                                            }
                                        </td>
                                        <td>$@cart[i].UnitPrice</td>
                                        <td>@cart[i].Quantity</td>
                                        <td>$@cart[i].TotalPrice</td>
                                    </tr>
                                }
                            </tbody>
                            
                            <tfoot class="checkout-total-Bg">
                                <tr>
                                    <td colspan="3"></td>
                                    <td>Total</td>
                                    <td>$@totalPrice</td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td>Discount</td>
                                    <td id="discount-total">@discount</td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td>Shipping</td>
                                    <td id="shipping-total"></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td>VAT</td>
                                    <td id="vat-total"></td>
                                </tr>

                                <tr>
                                    <td colspan="3"></td>
                                    <td class="grandTotalLabel">Grand Total</td>
                                    <td id="grand-total"></td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="checkout-footer checkout-total-Bg">
                            <label class="conditions-container">
                                I agree terms and conditions
                                <input type="checkbox" id="conditions">
                                <span class="checkmark"></span>
                            </label>
                            <div class="checkout-submit"><button type="submit" id="PlaceOrder" title="Place Order" class="button btn-checkout"><span><span>Place Order</span></span></button></div>
                        </div>
                    </div>
                </li>
            </ol>

        }
    </div>
    <div class="col-sm-3">
        <div class="sidebarBox">
            <div class="sidebarBoxHeader">
                <span>BILLING ADDRESS</span>
            </div>
            <div class="sidebarBoxContent" id="billingbox">
                <div id="billingbox1">First Name Last Name</div>
                <div id="billingbox2">Company Name</div>
                <div id="billingbox3">Street1, Street2</div>
                <div id="billingbox4">City, State, Country</div>
                <div id="billingbox5">Zip Telephone</div>
                <div id="billingbox6">Email</div>
            </div>
        </div>
        <div class="sidebarBox">
            <div class="sidebarBoxHeader">
                <span>SHIPPING ADDRESS</span>
            </div>
            <div class="sidebarBoxContent" id="shippingbox">
                <div id="shippingbox1">First Name Last Name</div>
                <div id="shippingbox2">Company Name</div>
                <div id="shippingbox3">Street1, Street2</div>
                <div id="shippingbox4">City, State, Country</div>
                <div id="shippingbox5">Zip Telephone</div>
                <div id="shippingbox6"></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/checkout.js"></script>
}

