@model DotNetShopping.Models.ProductDetailModel
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <hr />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="slider-for">
                @foreach (DotNetShopping.Models.ProductImage pi in Model.Images)
                {
                    <img src="~/ProductImage/@(pi.FileName)-10.jpg" />
                }
            </div>
            <div class="slider-nav">
                @foreach (DotNetShopping.Models.ProductImage pi in Model.Images)
                {
                    <img src="~/ProductImage/@(pi.FileName)-6.jpg" />
                }
            </div>
        </div>
        <div class="col-md-8">
            <div><h1>@Model.VariantName - @Model.ProductName</h1></div>
            <div><p>@Model.Description</p></div>
            <div><p>Availability : @(Model.Stock > 0 ? "In Stock" : "Out of Stock")</p></div>
            <div class="price"><i class="glyphicon glyphicon-tag"></i><p>$@(Model.UnitPrice)</p></div>
            @if (Model.CampaignName != "")
            {
                <div class="product-label"><span class="sale-product-icon">@Model.CampaignName</span></div>
            }
            @{
                List<DotNetShopping.Models.ProductBoxModel> otherVariants = ViewBag.OtherVariants;
                if (otherVariants.Count > 0)
                {
                    <div class="OtherVariants">
                        <div class="Item Selected">
                            <img src="~/ProductImage/@(Model.Images.First().FileName)-1.jpg" />
                            <div>@Model.VariantName</div>
                        </div>
                        @foreach (DotNetShopping.Models.ProductBoxModel item in otherVariants)
                        {
                            <a href="@Url.Action("Product","ProductDetail",new { id = Model.VariantId , name = DotNetShopping.Helpers.StringHelper.ClearFileName(item.VariantName + " " + Model.ProductName)})">

                                <div>
                                    <img src="~/ProductImage//@(item.PhotoName)-1.jpg" />
                                    <div>@item.VariantName</div>
                                </div>
                            </a>

                        }
                    </div>
                }
            }
            <div class="add-to-box">
                <div class="add-to-cart">
                    <label for="qty">Qty:</label>
                    <div class="qty-holder">
                        <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty">
                        <div class="qty-changer">
                            <a href="javascript:plusClick();" class="qty_inc"><i class="glyphicon glyphicon-plus"></i></a>
                            <a href="javascript:minusClick();" class="qty_dec"><i class="glyphicon glyphicon-minus"></i></a>
                        </div>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" title="Add to Cart" class="button btn-cart" onclick="addToCart(@Model.VariantId, parseInt($('#qty').val()));">
                            <span class="button_border"><span>Add to Cart</span></span>
                        </button>
                    }
                    else
                    {
                        <button type="button" title="Add to Cart" class="button btn-cart" onclick="window.location='@Url.Action("Login","Account",new { returnUrl = Url.Action("Product", "ProductDetail", new { id = Model.VariantId, name = DotNetShopping.Helpers.StringHelper.ClearFileName(Model.VariantName + " " + Model.ProductName) }) })';">
                            <span class="button_border"><span>Add to Cart</span></span>
                        </button>
                    }

                    <span id="ajax_loader" style="display:none"><i class="ajax-loader small animate-spin"></i></span>
                </div>
                <ul class="add-to-links">
                    <li><a href="#" onclick="" class="link-wishlist"><i class="glyphicon glyphicon-heart"></i><span>Add to Wishlist</span></a></li>
                    <li><a href="#" onclick="" class="link-compare"><i class="glyphicon glyphicon-signal"></i><span>Add to Compare</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section head {
    <link href="~/Content/Site/slick.css" rel="stylesheet" />
    <link href="~/Content/Site/slick-theme.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/Scripts/slick.min.js"></script>
    <script type="text/javascript">
        function minusClick() {
            var qty = parseInt($('#qty').val());
            if (qty > 1) {
                qty--;
                $('#qty').val(qty);
            }
        }
        function plusClick() {
            var qty = parseInt($('#qty').val());
            if (qty < @Model.Stock) {
                qty++;
                $('#qty').val(qty);
            }
        }
        //function AddToCart(variantId) {
        //    var qty = parseInt($('#qty').val());
        //    var dataToPost = {
        //        VariantId:variantId,
        //        Qty: qty
        //    }
        //    $.post('/Api/AddToCart', dataToPost)
        //        .done(function (response, status, jqxhr) {
        //            //alert(response['Success']);
        //        })
        //        .fail(function (jqxhr, status, error) {
        //            alert(response['Error!']);
        //        })
        //}
    </script>
}

@section scriptsready {
    $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    asNavFor: '.slider-for',
    dots: true,
    centerMode: true,
    focusOnSelect: true
    });
}