@model List<DotNetShopping.Models.OrderListModel>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Orders</h2>
<table class="table orderTable">
    <thead>
        <tr>
            <th>No</th>
            <th>Date</th>
            <th>Status</th>
            <th>Name</th>
            <th>Email</th>
            <th>Total Price</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DotNetShopping.Models.OrderListModel order in Model)
        {
            <tr onclick="window.location='@Url.Action("Detail","Order",new { id=order.OrderId})';">
                <td>@DotNetShopping.Helpers.StringHelper.GetOrderNo(order.OrderId,order.OrderDate)</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.OrderStatus</td>
                <td>@order.UserName</td>
                <td>@order.Email</td>
                <td>$@order.TotalPrice</td>
                <td>@order.Paid</td>
            </tr>
        }
    </tbody>
</table>

@section head{
    <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
}
@section scripts{
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
}

@section scriptsready {
    $('.table').DataTable(
    {
        "order" : [[0,"desc"]]
    });
}
