@model DotNetShopping.Models.ShippingCost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ShippingCost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CostHalf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostHalf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostOneHalf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostOneHalf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostTwoHalf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostTwoHalf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
